.header {
    // USEFUL
    &__useful {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 30px;
        font-weight: 500;
        color: $black;
    }
    &__useful-mail {
        display: flex;
        gap: 25px;
    }
    &__useful-sign-up {
        color: $gray;
        & a{
            color: $black;
            text-decoration: underline;
        }
    }
    &__useful-lang {
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: center;
    }
    &__useful-lang a {
        color: $black;
    }

    // NAVIGATION
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        font-weight: 600;
        border-bottom: 1px solid #EBEBEB;
        border-top: 1px solid #EBEBEB;
        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
        &__item a {
            color: $black;
        }
        &__item {
            position: relative;
        }
        &__account {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;
        }

        .item-list {
            border-radius: 10px;
            padding: 10px;
            background-color: $light-gray;
            color: $white;
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            flex-direction: column;
            gap: 15px;
            z-index: 1;
            &__item {
                outline: 1px solid $gray;
                border-radius: 5px;
                padding: 5px;
                letter-spacing: 1px;
            }
            & a {
                color: $white;
            }
        }
        &__item:hover {
            .item-list {
                display: flex;
            }
        }
    }
}