.limited {
    margin-bottom: 100px;
    min-height: 509px;
    &__bg-img {
        position: relative;
    } 
    &__bg-img img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
    }
    &__block {
        background-color: $white;
        padding: 50px;
        border-radius: 20px;
        max-width: 560px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        right: 100px;
        top: 100px;
    } 
    &__text {
        color: $light-gray;
        font-size: 12px;
        margin-bottom: 15px;
        font-weight: 500;
    } 
    &__subtitle {
        line-height: 24px;
    } 
    // &__title {} 
    // &__btn {} 
}