.follow-us {
    margin-bottom: 75px;
    &__container {
        padding-top: 75px;
        border-top: 1px solid $light-gray;
    }
    // &__title {}
    // &__subtitle {}
    &__body {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
    }
    &__block {
        position: relative;
    }
    &__block-bg {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__block-icon {
        width: 26px;
        height: 26px;
        background-color: $black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}