.top-trending {
    font-size: 14px;
    font-weight: 500;
    color: $black;
    margin-bottom: 100px;
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: padding 0.5s ease;
        &:hover {
            outline: 1px solid $light-gray;
            border-radius: 20px;
            cursor: pointer;
            padding: 20px;
        }
    }
    &__item-img{
        width: 80%;
    }
    &__main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-row-gap: 35px;
    }
    &__item-title {
        margin-top: 16px;
    }
    &__item-stars {
        margin-top: 5px;
    }
    &__item-price {
        margin-top: 5px;
        font-size: 18px;
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 57px auto 0;
    }
}